body{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3XMHOSdtuTOBljlVX5ePRrMpmT5xaeym8c5ONxLVDWvs4-Vr1zQ);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}